---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';

import "@/styles/global.css";
import '@vidstack/react/player/styles/default/theme.css';
import '@vidstack/react/player/styles/default/layouts/video.css';

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title}/>
  </head>
  <body>
    <nav class="z-50 sticky top-0 w-full bg-white/50 backdrop-blur-sm flex gap-4 h-20 px-4 items-center">
      <a href="/">Projects</a>
      <a href="/keynotes">Keynotes</a>
      <a href="/about">About</a>
    </nav>


    <div class="px-4 pb-8 pt-8">
      <slot />
    </div>

    <Footer />
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>